/* 
   2020-11-01
   Author : Sahan Pasindu Nirmal
   Licence : 
   Contact : sahanpasindu07@gmail.com 
   Version : 1.0 
*/
html {
   font-size: 62.5%;
   box-sizing: border-box;
}

/*  10/16 = 0.625 * 100  */

body {
   margin: 0;
   padding: 0;
   font-family: 'Oxygen', sans-serif;
}

/* end of common styles */

/* navbar */
/* sidebar */
.sidebar {
   width: 8rem;
   height: 100%;
   background-color: #EEE;
   position: fixed;
   /* when put position fixed it is jump out from the html flow, then we can scroll things on the page, but this sidebar will not gone from the page */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   z-index: 10;
}

.menu-icon {
   margin-top: 3rem;
   cursor: pointer;
}

.line {
   height: .2rem;
   width: 2.5rem;
   background-color: #222;
   margin-bottom: .6rem;
}

.line-1,
.line-3 {
   width: 1.8rem;
   transition: all .4s;
}

.menu-icon:hover .line {
   width: 2.5rem;
}

.social-icon-list {
   list-style: none;
   padding: 0;
   height: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.social-link {
   font-size: 2rem;
   color: #777;
   transition: color .2s;
}

.social-link:hover {
   color: #111;
}

.year {
   margin-bottom: 1rem;
   font-size: 1.5rem;
   color: #555;
}

/* end of sidebar */

/* navigation */
.navigation {
   left: -32rem;
   position: fixed;
   width: 30rem;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .6)), url("../img/image-03.jpg") center no-repeat;
   background-size: cover;
   transition: left .8s;
   z-index: 5;
}

.navigation-heading {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 3.5rem;
   font-weight: 300;
   letter-spacing: .2rem;
   color: #DEAA86;
   text-align: center;
}

.navigation-search {
   position: relative;
}

.navigation-search-input {
   width: 22rem;
   padding: 1rem 2rem;
   background-color: rgba(0, 0, 0, .3);
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.6rem;
   color: #DEAA86;
   letter-spacing: .1rem;
   outline: none;
   border: .1rem solid #555;
   border-radius: 10rem;
   transition: background-color .3s;
}

.navigation-search-input:focus {
   background-color: rgba(0, 0, 0, .1);
}

.navigation-search-btn {
   border: none;
   background-color: transparent;
   color: #DEAA86;
   font-size: 1.7rem;
   position: absolute;
   top: 1rem;
   right: 1rem;
   bottom: 3rem;
   cursor: pointer;
}

.navigation-search-btn:focus {
   outline: none;
}

.navigation-list {
   list-style: none;
   padding: 0;
   height: 28rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.navigation-item {
   position: relative;
}

.navigation-link {
   color: #fff;
   font-size: 1.6rem;
   font-weight: 400;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-decoration: none;
}

.navigation-link::before {
   content: '';
   width: 0rem;
   height: .1rem;
   background-color: #DEAA86;
   position: absolute;
   top: 1rem;
   left: -4rem;
   transition: width .5s;
   transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
   content: '';
   width: 0rem;
   height: .1rem;
   background-color: #DEAA86;
   position: absolute;
   top: 1rem;
   right: -4rem;
   transition: width .5s;
   transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
   color: #DEAA86;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
   width: 3rem;
}

.copyright {
   font-size: 1.2rem;
   margin-bottom: 1.5rem;
   color: #fff;
}

.checkbox:checked~.navigation {
   left: 8rem;
}

.checkbox:checked~.sidebar .line-1 {
   transform: rotate(-405deg) translate(-5px, 6px);
   width: 2.5rem;
}

.checkbox:checked~.sidebar .line-2 {
   opacity: 0;
}

.checkbox:checked~.sidebar .line-3 {
   transform: rotate(405deg) translate(-5px, -6px);
   width: 2.5rem;
}

/* end of navigation */
/* end of navbar */

/* header */
.header {
   margin-left: 8rem;
   height: 100vh;
   background: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .2)), url(../img/hero.jpg);
   background-size: cover;
}

.brand {
   display: flex;
   cursor: pointer;
}

.hotel-heading {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 2.7rem;
   font-weight: 400;
   letter-spacing: .2rem;
   color: #DEAA86;
   text-align: center;
}

.banner {
   color: #ddd;
   height: 50rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.banner-heading {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 6rem;
   font-weight: 400;
   letter-spacing: .2rem;
   margin-bottom: 0;
   animation: anim 2s;
   color: rgba(255, 255, 255, 0.918);
}

.banner-paragraph {
   font-size: 3.5rem;
   font-weight: 300;
   animation: anim 1.5s .5s backwards;
}

.banner-button {
   width: 18rem;
   padding: 1.2rem 1.2rem;
   font-size: 1.4rem;
   color: #333;
   font-weight: 500 !important;
   text-transform: uppercase;
   letter-spacing: .1rem;
   border: none;
   border-radius: 10rem;
   outline: none;
   background: linear-gradient(to right, rgb(199, 173, 27), goldenrod);
   transition: background .3s;
   animation: anim 1s 1s backwards;
   cursor: pointer;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   ;
}

.banner-button:hover {
   background: linear-gradient(to left, rgb(199, 173, 27), goldenrod);
}

.banner-button:active {
   transform: translateY(.2rem);
}

@keyframes anim {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

/* end of header */

/* about us */
.about-us {
   margin-left: 8rem;
   display: flex;
   background-color: #ddd;
}

.about-us-content {
   flex: 0 1 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10rem;
   box-sizing: border-box;
}

.about-us-heading {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 4rem;
   font-weight: 300;
   transform: uppercase;
   color: #555;
}

.sub-heading {
   font-size: 3.5rem;
   font-weight: 300;
   letter-spacing: .2rem;
   color: #b85d1c;
}

.about-us-paragraph {
   font-size: 1.6rem;
   font-weight: 300;
   text-align: center;
   margin-bottom: 5rem;
}

.about-us-btn {
   width: 15rem;
   padding: .8rem .6rem;
   font-family: 'Oxygen', sans-serif;
   font-size: 1.2rem;
   text-transform: uppercase;
   color: #b85d1c;
   background-color: transparent;
   border: .1rem solid #b85d1c;
   outline: none;
   cursor: pointer;
}

.btn-arrow {
   margin-left: .5rem;
   transition: margin-left .4s;
}

.about-us-btn:hover .btn-arrow {
   margin-left: 1.2rem;
}

.about-us-images {
   flex: 1 1;
   position: relative;
}

.image {
   width: 30rem;
   height: 25rem;
   position: absolute;
   top: 50%;
   left: 50%;
   box-shadow: 0 3rem 6rem rgba(0, 0, 0, .5);
   border-radius: .4rem;
   box-sizing: border-box;
}


.image-1 {
   transform: translate(-15%, -85%);
}

.image-2 {
   transform: translate(-65%, -65%);
}

.image-3 {
   transform: translate(-45%, -45%);
}

.image-4 {
   transform: translate(-25%, -25%);
}

/* end of about us */

/* common header */

.common-header {
   padding: 5rem;
   text-align: center;
   color: #b85d1c;
}

.common-heading {
   font-size: 4rem;
   font-weight: 300;
   letter-spacing: .2rem;
}


.small-underline {
   width: 9rem;
   height: .1rem;
   margin: 0 auto .8rem auto;
   background-color: #b85d1c;
}

.big-underline {
   width: 20rem;
   height: .1rem;
   margin: auto;
   background-color: #b85d1c;
}

/* end of common header */

/* rooms */

.rooms {
   margin-left: 8rem;
}

.rooms-cards-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.room-card {
   width: 50rem;
   margin: 4rem;
   background-color: #15141B;
   box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}

.room-image {
   width: 100%;
}

.room-card-content {
   color: #DDD;
   padding: 2rem;
}

.room-card-heading {
   margin: 0;
   font-size: 3rem;
   font-weight: 300;
}

.room-card-paragraph {
   font-size: 1.5rem;
   color: #777;
}

.room-price {
   font-size: 4rem;
   font-weight: 300;
   text-align: right;
   margin: 0;
}

.room-card-btn {
   width: 15rem;
   padding: 1.5rem 1rem;
   font-family: 'Oxygen', sans-serif;
   font-size: 1.2rem;
   text-transform: uppercase;
   color: #b85d1c;
   background-color: transparent;
   border: .1rem solid #b85d1c;
   outline: none;
   cursor: pointer;
}

.room-card-btn:hover .btn-arrow {
   margin-left: 1.2rem;
}

.rooms-btn-wrapper {
   text-align: center;
}

.rooms-btn {
   width: 20rem;
   padding: 1.5rem 1rem;
   margin: 4rem 0;
   background-color: transparent;
   text-transform: uppercase;
   color: #b85d1c;
   border: .2rem solid #b85d1c;
   outline: none;
   cursor: pointer;
   box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
   transition: all .2s;
}

.rooms-btn:hover {
   color: #DDD;
   background-color: #b85d1c;
}

/* end of rooms */

/* customers */

.customers {
   margin-left: 8rem;
   padding-bottom: 7rem;
   background-color: #15141B;
}

.customers-paragraph {
   font-size: 1.8rem;
   color: #DDD;
   width: 50%;
   margin: 2rem auto 8rem auto;
   text-align: center;
}

.customers-card-wrapper {
   display: flex;
   justify-content: space-evenly;
}

.customer-card {
   background-color: #EEE;
   width: 50rem;
   display: flex;
}

.customer-image-wrapper {
   margin: auto 0;
}

.customer-image {
   width: 13rem;
   margin-left: -2.3rem;
   box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}

.customer-info {
   padding: 0 2rem;
}

.customer-full-name {
   font-size: 2rem;
   font-weight: 300;
   margin-bottom: 0;
}

.customer-paragraph-1 {
   font-size: 1.2rem;
   font-style: italic;
   color: #b85d1c;
}

.customer-paragraph-2 {
   font-size: 1.3rem;
   font-style: italic;
}

/* end of customers */

/* footer  */

.footer {
   margin-left: 8rem;
}

.main-part {
   display: flex;
   justify-content: space-between;
   background-color: #1c1c1c;
   padding: 4rem;
}

.footer-heading {
   font-size: 2.5rem;
   font-weight: 300;
   color: goldenrod;
   margin: 1rem 0 3rem 0;
}

.footer-list {
   list-style: none;
   padding: 0;
}

.footer-list-item {
   margin-bottom: 2rem;
}

.footer-list-link {
   font-size: 1.4rem;
   text-decoration: none;
   color: #bbb;
}

.contact p {
   font-size: 1.5rem;
   color: #bbb;
   margin-bottom: 3rem;
}

.footer-form {
   display: flex;
}

.footer-input {
   width: 25rem;
   padding: 1rem;
   font-family: 'Oxygen', sans-serif;
   font-size: 1.3rem;
   color: #444;
   outline: none;
}

.footer-btn {
   padding: 1rem;
   background-color: #b85d1c;
   border: none;
   color: #ddd;
   /* font-size: 1.3rem; */
}

.gallery {
   max-width: 45rem;
}

.image-wrapper {
   width: 12rem;
   margin: .4rem;
   overflow: hidden;
}

.footer-image {
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   transition: all .5s;
}

.gallery-images {
   display: flex;
   flex-wrap: wrap;
}

.footer-image:hover {
   transform: scale(1.3);
   opacity: .8;
}

.creator-part {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #111;
   padding: 0 4rem;
}

.copyright-text {
   font-size: 1.3rem;
   color: #aaa;
}

.text-right {
   font-size: 1.4rem;
   color: #bbb;
}

.text-right i {
   font-size: 1.4rem;
   margin: 0rem .5rem;
   color: tomato;
}

.text-right span {
   color: gold;
}

/* end of footer */

/* Meadia Query */

/* 1400px media query */
@media(max-width: 1400px) {
   .customers-card-wrapper {
      flex-direction: column;
      align-items: center;
   }

   .customer-card:first-child {
      margin-bottom: 3rem;
   }

   .main-part {
      flex-direction: column;
   }

   .footer-list {
      display: flex;
   }

   .footer-list-item {
      margin-left: 3rem;
   }
}

/* end 1400px media query */

/* 1200px media query */

@media(max-width: 1200px) {
   .about-us {
      flex-direction: column;
      padding-bottom: 25rem;
   }

   .about-us-content {
      margin-bottom: 15rem;
   }

   .image {
      width: 26rem;
   }
}

/* 1200px end media query */

/* 800px media query */

@media(max-width:900px) {
   .banner {
      flex-direction: column;
      text-align: center;
      align-self: center;
      justify-content: center;
   }

   .banner-heading {
      font-size: 4.7rem;
   }

   .banner-paragraph {
      font-size: 2.6rem;
   }

   .banner-button {
      width: 16rem;
      font-size: 1.5rem;
   }
}

/* 800px end media query */

/* 750px media query */

@media(max-width:750px) {
   .customer-card {
      flex-direction: column;
      width: 30rem;
   }

   .banner {
      flex-direction: column;
      text-align: center;
      align-self: center;
      justify-content: center;
   }

   .customer-image {
      width: 30rem;
      margin-left: 0;
   }

   .footer-list {
      display: block;
   }

   .creator-part {
      flex-direction: column;
      text-align: center;
   }

   .copyright-text {
      order: 1;
   }

   .banner-heading {
      font-size: 3.5rem;
   }
}

/* 750px end media query */

/* 550px media query */

@media(max-width:550px) {
   .navigation {
      width: 28rem;
   }

   .image {
      width: 18rem;
      height: 18rem;
   }

   .hotel-heading {
      margin: auto 0rem;
      font-size: 1.8rem;
   }

   .banner {
      height: 100%;
      margin-top: -05rem;
   }

   .banner-heading {
      margin: 0 1rem;
      font-size: 3rem;
   }

   .banner-paragraph {
      font-size: 2rem;
   }

   .about-us-heading {
      text-align: center;
      font-size: 2.5rem;
   }

   .sub-heading {
      font-size: 2rem;
      text-align: center;
   }

   .about-us-content {
      padding: 5rem;
   }

   .room-card-heading {
      font-size: 1.5rem;
   }

   .room-price {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      text-align: left;
   }

   .room-card-btn {
      width: 12rem;
      padding: 1rem .5rem;
      font-size: 1rem;
   }

   .customers-paragraph {
      font-size: 1.4rem;
      width: 80%;
   }

   .main-part {
      padding: 2rem;
   }

   .footer-input {
      width: 13rem;
   }

   .image-wrapper {
      width: 9rem;
   }
}

/* 550px end media query*/

/* 550px media query */

@media(max-width:380px) {
   .navigation {
      width: 24rem;
   }

   .navigation-search-input {
      width: 16rem;
   }

   .navigation-link {
      font-size: 1.5rem;
   }

   .banner-heading {
      font-size: 3.5rem;
   }

   .banner-paragraph {
      font-size: 2.6rem;
   }

   .banner-button {
      width: 16rem;
      font-size: 1.5rem;
   }

   .about-us-heading {
      text-align: center;
      font-size: 2.5rem;
   }

   .sub-heading {
      font-size: 2rem;
      text-align: center;
   }

   .common-heading {
      text-align: center;
      font-size: 2rem;
   }

   .small-underline {
      width: 5rem;
   }

   .big-underline {
      width: 12rem;
   }

   .image {
      width: 12rem;
      height: 12rem;
   }

   .customer-card {
      flex-direction: column;
      width: 22rem;
      margin-bottom: 20rem;
   }

   .customer-image {
      width: 22rem;
      margin-left: 0;
   }


}

/* 330px end media query*/