/* 
   2020-11-01
   Author : Sahan Pasindu Nirmal
   Licence : 
   Contact : sahanpasindu07@gmail.com 
   Version : 1.0 
*/
html{
   font-size: 62.5%;
   box-sizing: border-box;
}

/*  10/16 = 0.625 * 100  */

body{
   margin: 0;
   padding: 0;
   font-family: 'Oxygen', sans-serif;
}
/* end of common styles */

/* navbar */
/* sidebar */
.sidebar{
   width:8rem;
   height: 100%;
   background-color: #EEE;
   position:fixed;
   /* when put position fixed it is jump out from the html flow, then we can scroll things on the page, but this sidebar will not gone from the page */
   display:flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
}

.menu-icon{
   margin-top: 3rem;
   cursor: pointer;
}

.line{
   height: .2rem;
   width: 2.5rem;
   background-color: #222;
   margin-bottom: .6rem;
}

.line-1, .line-3{
   width:1.8rem;
   transition:width .2s;
}

.menu-icon:hover .line{
   width:2.5rem;
}

.social-icon-list{
   list-style:none;
   padding: 0;
   height: 20rem;
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items:center;
}

.social-link{
   font-size: 2rem;
   color:#777;
   transition: color .2s;
}

.social-link:hover{
   color:#111;
}

.year{
   margin-bottom: 1rem;
   font-size: 1.5rem;
   color:#555;
}
/* end of sidebar */

/* navigation */
.navigation{
   margin-left: 8rem;
   position:fixed;
   width: 30rem;
   height: 100%;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background:linear-gradient(to top,rgba(34,32,41,1),rgba(34,32,41,.6)),url("../img/image-03.jpg") center no-repeat;
   background-size: cover;
}

.navigation-heading{
   font-family: 'Josefin Sans',sans-serif;
   font-size: 3.5rem;
   font-weight: 300;
   letter-spacing: .2rem;
   color: #DEAA86;
   text-align: center;
}

.navigation-search{
   position: relative;
}

.navigation-search-input{
   width: 22rem;
   padding: 1rem 2rem;
   background-color: rgba(0,0,0,.3);
   font-family: 'Josefin Sans',sans-serif;
   font-size: 1.6rem;
   color:#DEAA86;
   letter-spacing: .1rem;
   outline:none;
   border: .1rem solid #555;
   border-radius: 10rem;
   transition:background-color .3s;
}

.navigation-search-input:focus{
   background-color: rgba(0,0,0,.1);
}

.navigation-search-btn{
   border:none;
   background-color: transparent;
   color: #DEAA86;
   font-size: 1.7rem;
   position: absolute;
   top:1rem;
   right:1rem;
   bottom:3rem;
   cursor: pointer;
}

.navigation-search-btn:focus{
   outline:none;
}

.navigation-list{
   list-style:none;
   padding: 0;
   height: 28rem;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.navigation-item{
   position: relative;
}

.navigation-link{
   color:#fff;
   font-size: 1.6rem;
   font-weight: 400;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-decoration: none;
}

.navigation-link::before{
   content:'';
   width:0rem;
   height: .1rem;
   background-color: #DEAA86;
   position:absolute;
   top:1rem;
   left: -4rem;
   transition: width .5s;
   transition-timing-function: cubic-bezier(1,0,0,1);
}

.navigation-link::after{
   content:'';
   width:0rem;
   height: .1rem;
   background-color: #DEAA86;
   position:absolute;
   top:1rem;
   right: -4rem;
   transition: width .5s;
   transition-timing-function: cubic-bezier(1,0,0,1);
}

.navigation-link:hover{
   color:#DEAA86;
}

.navigation-link:hover::before,.navigation-link:hover::after{
   width: 3rem;
}

.copyright{
   font-size: 1.2rem;
   margin-bottom: 1.5rem;
   color:#fff;
}

/* end of navigation */
/* end of navbar */