@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: "Roboto", "sans-serif";
   margin: 0 !important;
   background-color: #CB021C;
}

a{
   text-decoration: none;
   color: white;
}
.hamburger{
   position:fixed;
   top:2rem;
   left: 2rem;
   font-size: 2rem;
}

.phone{
   position:fixed;
   top:2rem;
   right: 2rem;
   font-size: 2rem;
}

.logo{
   text-align: center;
   color:white;
   margin:2rem 0;
   font-size: 1.7rem;
}

.logo i{
   font-size: 3rem;
}

.logo h2{
   margin:0;
   font-weight: normal;
}

.logo p{
   color:#40020e;
   font-weight: bold;
   margin:0;
}
.carousel-container{
   width: 100vw;
   overflow: hidden;
   position: relative;
   height: 70vh;
   /* margin-top: 2rem; */
}

.carousel{
   position:absolute;
   left:0;
   top:0;
   transform: translateX(0);
   display: flex;
}

.slide{
   width:  100vw;
   text-align: center;
}

.slide img{
   object-fit: cover;
   height: 300px;
   width: 300px;
}

.slide h1{
   font-size: 4rem;
   color:white;
   margin-top: -2rem;
}

.slide a{
   background-color: #40020e;
   padding:1rem 2rem;
   font-size: 1.5rem;
}

.arrow{
   background-color: transparent;
   position:absolute;
   top:30%;
   font-size: 3rem;
   color:black;
   opacity: 0.5;
   border:0;
   cursor: pointer;
}

.left-arrow{
   left:2rem;
}

.right-arrow{
   right:2rem;
}